[submodule "Solana-Client-Extension"]
	path = Solana-Client-Extension
	url = https://github.com/BretasArthur1/Solana-Client-Extension
[submodule "Based-Rollup"]
	path = Based-Rollup
	url = https://github.com/Se76/Based-Rollup.git
[submodule "custom-syscall"]
	path = custom-syscall
	url = https://github.com/4rjunc/custom-syscall
[submodule "zksvm"]
	path = zksvm
	url = https://github.com/SwineCoder101/zksvm.git
[submodule "kym0211-custom-syscall"]
	path = kym0211-custom-syscall
	url = https://github.com/Kym0211/custom-syscall
[submodule "agave-custom-syscall"]
	path = agave-custom-syscall
	url = https://github.com/Manice18/agave_custom_syscall_example.git
[submodule "Kym0211-rollup_stub"]
	path = Kym0211-rollup_stub
	url = https://github.com/Kym0211/rollup_stub
[submodule "zkSVM_with_SP1"]
	path = zkSVM_with_SP1
	url = https://github.com/Dodecahedr0x/zk-rollup
[submodule "Playchannel"]
	path = Playchannel
	url = https://github.com/ubadineke/playchannel

